body {
    background: black;
    color: white;
    text-align: center;
    font-size: large;
}
button,input[type = "button"],input[type = "submit"] {
    background-color: darkblue;
    color: white;
    border: 1px solid white;
}
button.gros {
    margin: 10px;
    font-size: medium;
    height: 40px;
}
table,td,th {
    border: 1px solid white;
    border-collapse: collapse;
    margin: auto;
}
input[type="checkbox"] {
    width: 50pt;
    height: 50pt;
}
#catalogueFilms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.film {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.film img {
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
}
#infosFilm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
}
#poster {
    max-width: 100%;
}